h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

#page-nav {
  width: 100%;
  background: #000;
  /* If you want the navigation bar to stick on top
  position: sticky;
  top: 0;
  */
  position: sticky;
  top: 0;
  z-index: 100;
}

/* Hide Hamburger */

#page-nav label,
#hamburger {
  display: none;
}

/* Menu Items */

.nav-bottom-left li {
  margin-top: 5px;
}

#page-nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

#page-nav ul li {
  display: inline-block;
  padding: 10px 4px;
  box-sizing: border-box;
}

/* [ON SMALL SCREENS] */

html,
body,
p {
  padding: 0;
  margin: 0;
  font-family: arial, sans-serif;
}

a {
  text-decoration: none;
}

#page-nav ul {
  padding: 0 1rem;
}

article {
  color: white;
}

article h5 {
  font-weight: normal;
}

article a {
  color: #000;
  margin-right: 1rem;
}

.nav-top {
  display: flex;
  justify-content: space-between;
  background-color: #000;
  font-size: 0.8rem;
}

.nav-top a {
  color: #555555;
}

.nav-bottom a {
  color: #aaaaaa;
  text-transform: uppercase;
}

.nav-add a {
  color: black;
  font-size: 0.8rem;
}

.nav-top a:hover {
  color: #fff;
}

.nav-top a.active {
  color: #fff;
}

.nav-bottom {
  display: flex;
  justify-content: space-between;
  background-color: #fff;
  height: 48px;
}

.nav-icons .fa {
  cursor: pointer;
}

.nav-icons .fa-search:hover {
  color: #333;
}

.nav-bottom .fa-bars {
  color: #f42;
}

.nav-bottom-right {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 48px;
  border-left: 1px solid #aaaaaa75;
  color: #aaaaaa;
}

.nav-icons i {
  padding: 0 16px;
  border-left: 1px solid #aaaaaa75;
  border-right: 1px solid #aaaaaa75;
  color: #aaaaaa;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

#page-nav .logo {
  display: none;
  position: absolute;
  background: linear-gradient(to bottom right, #c09, #f42 85%);
  width: 106px;
  height: 48px;
}

#page-nav .logo img {
  height: 100%;
}

#page-nav .logo .wrapper {
  height: 100%;
  display: flex;
  flex-direction: column;
  padding: 0px 1rem;
}

.nav-add {
  height: 30px;
  background-color: #fd3;
  color: black;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-left: 1rem;
}

.nav-icons {
  display: none;
}

.maingrid {
  height: 35rem;
  width: 100%;
  display: grid;
  grid-template-columns: 70% 30%;
  grid-template-rows: repeat(2, 1fr);
}

.secondgrid {
  grid-row: 1/3;
  grid-column: 2/3;
}

.secondrow h4 {
  color: #000;
  font-weight: bold;
}

.secondrow h5 {
  color: #555;
}

.secondgrid div:first-child {
  grid-row: 1;
  grid-column: 2/ 3;
}

.secondgrid div:nth-child(2) {
  grid-row: 2;
  grid-column: 2/3;
}

.main a,
.article-info a {
  color: #ffffff;
}

.main-articles {
  display: grid;
  grid-template-columns: 65% 1fr;
  height: 75vh;
  max-height: 560px;
}

.main-articles article {
  margin: 5px 5px 0 5px;
}

.main-articles .right {
  display: grid;
  grid-template-rows: 1fr 1fr;
}

.main-articles .main {
  height: 100%;
  margin: 0;
}

.red-gradient {
  background-image: url("https://cdn0.tnwcdn.com/wp-content/themes/cyberdelia/assets/img/cover-gradient.png");
  background-repeat: no-repeat;
  background-size: cover;
  height: 100%;
}

.gradient {
  background: rgb(0, 0, 0);
  background: linear-gradient(
    0deg,
    rgba(0, 0, 0, 1) 0%,
    rgba(139, 139, 139, 0) 100%
  );
  height: 100%;
}

article .content {
  color: white;
}

article .bottom {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 1rem;
}

.main .title {
  font-size: 2.5rem;
  margin: 0;
}

.main .content {
  display: grid;
  grid-template-rows: 1fr 1fr;
  height: 100%;
}

.main .top {
  text-align: right;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  padding: 1rem;
}

.main .main .top {
  display: grid;
  grid-template-columns: 1fr 1fr;
  padding: 1rem;
}

.article-1 {
  background-image: url("https://cdn0.tnwcdn.com/wp-content/blogs.dir/1/files/2020/04/DDAudiobook-796x417.jpg");
  background-position: top left;
  background-repeat: none;
  background-size: cover;
}

.article-info {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  height: 100%;
}

.article-info header {
  padding: 1rem;
}

.article-info .article-links {
  padding: 0rem 1rem 1rem 1rem;
}

.article-info a {
  font-size: 0.8rem;
}

.article-info .title {
  font-size: 1.3rem;
}

#duplicate {
  display: none;
}

.main-articles .left {
  padding: 5px 5px 0 5px;
}

/* firstsection */

.firstsection,
.secondsection {
  width: 90%;
  height: auto;
  margin: 3em auto;
}

.firstsection p {
  color: #555;
}

.firstsection > header {
  display: flex;
  justify-content: space-between;
  padding: 1em 0;
  color: #ff4421;
}

.firstsection h2:hover {
  color: #000;
  cursor: pointer;
}

.sectiongrid {
  display: grid;
  height: auto;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(2, 1fr);
  grid-gap: 10px;
}

.sectiongrid img {
  width: 100%;
  height: 10em;
  cursor: pointer;
}

.sectiongrid a:hover {
  color: #ff4421;
  text-decoration: underline;
}

/* secondsection */

.secondsection header {
  padding: 20px 0;
  display: flex;
  justify-content: space-between;
}

.secondsection header > a {
  color: #ff4421;
}

.secondsection header > a:hover {
  color: #000;
}

.secondsection ul {
  margin: 0;
  padding: 0;
}

.secondsection li {
  padding: 0 10px;
  list-style: none;
  display: inline-block;
  border-right: 1px solid gray;
}

.secondsection li:last-child {
  border-right: none;
}

.secondsection li a {
  color: #ff4421;
}

.sectiongrid2 {
  height: auto;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: auto;
  grid-gap: 10px;
}

.sectiongrid2 img {
  max-width: 60px;
  min-width: 60px;
  position: absolute;
  margin: 11px;
}

.firstrow {
  margin: 0;
  text-align: center;
  padding: 10px;
  background-color: #ff4421;
  color: #fff;
}

.secondrow {
  padding: 15px 0;
  background-color: #ffebe7;
  text-align: center;
}

.thirdrow {
  background-color: #fffaf9;
}

.thirdrowfirstrow {
  padding: 10px;
  height: 3em;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.thirdrowsecondrow {
  padding: 10px;
}

/* Smallest screen 768px */

/* Lates deals */

header a {
  color: #ff4421;
}

header a:hover {
  color: #000;
}

.bckga {
  background-size: cover;
  display: inline-block;
  background-image: url("https://cdnp1.stackassets.com/e5814c7482460a462c26d06b517066a1086cdf70/store/10ebcfc38f40fac5c072e3863fef177ecbe48b5e2f3075c55ecf09597d51/sale_27421_primary_image.jpg");
  width: 100%;
  height: 10em;
}

.discounts {
  width: 80px;
  height: 80px;
  position: relative;
  background-image: url("https://cdn0.tnwcdn.com/wp-content/themes/cyberdelia/assets/img/deals-ribbon.svg");
  background-repeat: no-repeat;
  float: right;
  overflow: hidden;
}

.percentage {
  position: relative;
  text-align: center;
  font-size: 10px;
  color: #000;
  top: 20px;
  left: 8px;
  transform: rotate(45deg);
}

.descriptiondeals {
  display: flex;
}

.descriptiondeals p {
  padding: 0 3px;
}

.beforeprice {
  font-size: 13px;
  color: gray;
  text-decoration: line-through solid gray;
}

.afterprice {
  color: #555;
  font-size: 16px;
}

/* FOOTER */

footer {
  display: flex;
  flex-direction: column;
  height: 20rem;
}

.row1 {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: #131313;
  width: 100%;
  flex: 2;
}

.row1 a {
  color: #555;
}

.row1 a:hover {
  color: #fff;
}

.row2 {
  background-color: #000000;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex: 1;
  color: gray;
}

.row1 ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

.row1 li {
  display: inline;
  padding: 5px;
}

b {
  color: red;
}

footer .fa {
  padding: 10px;
  font-size: 15px;
  width: 20px;
  text-align: center;
  text-decoration: none;
  color: #fff;
  background-color: #333;
  border-radius: 50%;
  border: 1px solid #333;
}

.row1 div:first-child {
  display: flex;
  justify-content: space-between;
  width: 30em;
}

.row1 div:first-child .fa:hover {
  background-color: transparent;
}

.row1 div:nth-child(2) {
  padding-top: 20px;
  color: #aaaaaa;
  display: flex;
  width: 25em;
}

/* Categories */

.categories {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}

.categories .box {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  padding: 1rem;
}

.box .article-img {
  width: 100%;
  height: auto;
}

.categories .gradient {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 50;
}

.categories section {
  height: 100%;
}

.categories article {
  cursor: pointer;
}

.categories article h2:hover {
  text-decoration: underline;
}

.categories .article-info {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 50;
}

.categories .gradient {
  position: absolute;
  z-index: 50;
}

.categories .article-info header {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 0.5rem;
}

.categories .title {
  color: #f42;
  font-weight: bold;
  font-size: 1.7rem;
  padding-bottom: 1rem;
}

.categories .title:hover {
  color: #000;
  cursor: pointer;
}

.links li {
  list-style-type: circle;
}

.categories .article-info-section {
  font-size: 0.9rem;
}

.categories .article-info-date {
  color: hsla(0, 0%, 100%, 0.6);
}

.article-latest {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #fff4f2;
}

.article-latest .article-img {
  background-image: url(https://cdn0.tnwcdn.com/wp-content/blogs.dir/1/files/2020/04/Screenshot_20200421-130623_Netflix.jpg);
  background-size: cover;
  background-position: center;
  height: 96px;
  width: 96px;
}

.article-latest h5 {
  font-size: 0.8rem;
  color: #f42;
}

.article-latest h2 {
  font-size: 1rem;
  color: #f42;
}

.article-latest a {
  color: #f42;
  font-size: 13px;
}

.article-latest a:hover {
  color: #f42;
  text-decoration: underline #f42;
}

.categories ul {
  padding-left: 24px;
  color: #f42;
}

.categories li {
  padding: 6px;
  border-bottom: 1px solid #aaaaaa75;
}

.categories a {
  color: #555555;
}

.categories a:hover {
  color: #000;
}

.categories article {
  position: relative;
}

/* End Categories */

@media screen and (max-width: 768px) {
  #duplicate {
    display: block;
  }
  .main-articles {
    display: flex;
    flex-direction: row;
    height: auto;
    max-height: none;
  }
  .main-articles .left {
    display: none;
  }
  .main-articles article {
    height: 25vh;
  }
  /* Latest News */
  .firstsection {
    width: 100%;
  }
  .sectiongrid a {
    margin: 0;
  }
  .sectiongrid img {
    width: 6em;
    height: 5em;
  }
  .sectiongrid {
    display: flex;
    flex-direction: column;
  }
  .sectiongrid article {
    display: flex;
    margin-bottom: 10px;
  }
  .sectiongrid div {
    padding: 0 10px;
  }
  .sectiongrid p {
    padding-top: 5px;
  }
  /* === */
  .secondsection {
    width: 100%;
  }
  .sectiongrid2 {
    display: flex;
    flex-direction: column;
  }
  .sectiongrid2 .item {
    margin-bottom: 1rem;
  }
  /* Lasting fundings */
  /* Latest deals */
  .discounts {
    display: none;
  }
  .bckga {
    width: 6em;
    height: 5em;
  }
  /* CATEGORIES */
  .categories {
    grid-template-columns: 1fr;
  }
  .categories .article-1 {
    width: 100%;
  }
  .categories .gradient {
    width: 100%;
  }
  /* FOOTER */
  .row1 div:first-child {
    width: 20em;
  }
  .row1 ul {
    margin-left: 2em;
  }
  .row1 li {
    padding: 0;
  }
  .row2 {
    flex-direction: column;
  }
  /* NAVBAR */
  .nav-add {
    height: 80px;
    text-align: center;
  }
  .nav-top {
    display: none;
  }
  .nav-bottom {
    display: flex;
    justify-content: flex-end;
  }
  .nav-bottom-left {
    display: none;
  }
  .nav-icons {
    display: flex;
  }
  .nav-icons .fa-bars {
    border: none;
  }
  #page-nav .logo {
    display: block;
  }
}

@media (max-width: 1023px) and (min-width: 768px) {
  #page-nav .logo {
    display: block;
    height: 83px;
  }
  .nav-add {
    padding-left: calc(106px + 1rem);
  }
  .nav-top {
    margin-left: 106px;
  }
  .nav-bottom {
    margin-left: 106px;
  }
  .main .red-gradient {
    background-image: none;
  }
  .main .logo,
  .main p {
    display: none;
  }
  /* CATEGORIES */
  .categories {
    grid-template-columns: 1fr 1fr;
  }
}

@media screen and (max-width: 1024px) {
  .sectiongrid {
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
  }
  .sectiongrid2 {
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 100%;
  }
  .secondsection header {
    height: 4em;
    display: flex;
    flex-direction: column;
  }
  #lastChild {
    display: none;
  }
  .sectiongrid2 .item {
    min-height: 60px;
  }
}
